In [1]:
X_train=['i like this book','shoes are alright', 'i like the books','i lost a shoe']
y_train=['books','books','clothings','clothings']

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [3]:
vect=CountVectorizer()

vect.fit(X_train)
x_train_dtm =vect.transform(X_train)

nb_clf=MultinomialNB()

nb_clf.fit(x_train_dtm,y_train)

MultinomialNB()

In [4]:
X_test= ['i like this book','shoes are alright', 'i like the books','i lost a shoe']
X_test_dtm= vect.transform(X_test)
nb_clf.predict(X_test_dtm)

array(['books', 'books', 'clothings', 'clothings'], dtype='<U9')

In [5]:
import nltk # natual languague tool kit

In [6]:
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sebastian.coombs\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sebastian.coombs\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sebastian.coombs\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\sebastian.coombs\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [7]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

In [8]:
stemmer=PorterStemmer()

In [9]:
stemmer.stem('reading')

'read'

In [10]:
stemmer.stem('books')

'book'

In [11]:
stemmer.stem('booked')

'book'

In [12]:
phrase='I love the books'

In [13]:
words=word_tokenize(phrase)
words

['I', 'love', 'the', 'books']

In [14]:
stemmed_words=[stemmer.stem(word) for word in words]

In [15]:
stemmed_words

['i', 'love', 'the', 'book']

In [16]:
' '.join(stemmed_words)

'i love the book'

In [17]:
print(stemmer.stem('ate'))
print(stemmer.stem('eat'))
print(stemmer.stem('eats'))

ate
eat
eat

In [18]:
## stemmer is easy to use but can miss verbs in different forms
# Lemmatization

In [19]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet #?
lemmatizer=WordNetLemmatizer()

In [20]:
#it expects the words and parts of speech
# parts of speech
nltk.pos_tag(words)

[('I', 'PRP'), ('love', 'VBP'), ('the', 'DT'), ('books', 'NNS')]

In [21]:
def process_pos(pos):
    if pos.startswith('J'): #adjective
        return 'a'
    elif pos.startswith('V'): #verb
        return 'v'
    elif pos.startswith('N'): #noun
        return 'n'
    elif pos.startswith('R'): #adverb
        return 'r'
    else:
        return 'n'

In [22]:
print (lemmatizer.lemmatize('ate',pos='v'))
print (lemmatizer.lemmatize('eat',pos='v'))
print (lemmatizer.lemmatize('eats',pos='v'))

eat
eat
eat

In [23]:
lemmatized_words= [lemmatizer.lemmatize(word,pos=process_pos(pos)) for word ,pos in nltk.pos_tag(words)]

In [24]:
' '.join(lemmatized_words)

'I love the book'

In [25]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [26]:
phrase='here is a sentence demonstrating the removal of stop words'
words = word_tokenize(phrase)
words

['here',
 'is',
 'a',
 'sentence',
 'demonstrating',
 'the',
 'removal',
 'of',
 'stop',
 'words']

In [27]:
words=[word for word in words if word not in stop_words]

In [28]:
words

['sentence', 'demonstrating', 'removal', 'stop', 'words']

In [29]:
## Punctuation Removal
phrase= 'Hello! How are you?'
words=word_tokenize(phrase)

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
punctuation=[punc for punc in string.punctuation]
punctuation

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [31]:
words = [word for word in words if word not in punctuation]

In [32]:
# Yelp Reviews
import pandas as pd
url=('https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/yelp.csv')
yelp= pd.read_csv(url)[['text','stars']]
yelp.head()

                                                text  stars
0  My wife took me here on my birthday for breakf...      5
1  I have no idea why some people give bad review...      5
2  love the gyro plate. Rice is so good and I als...      4
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4  General Manager Scott Petello is a good egg!!!...      5

In [33]:
yelp=yelp[yelp.stars.isin([1,5])].reset_index(drop=True)
yelp

                                                   text  stars
0     My wife took me here on my birthday for breakf...      5
1     I have no idea why some people give bad review...      5
2     Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
3     General Manager Scott Petello is a good egg!!!...      5
4     Drop what you're doing and drive here. After I...      5
...                                                 ...    ...
4081  Yes I do rock the hipster joints.  I dig this ...      5
4082  Only 4 stars? \n\n(A few notes: The folks that...      5
4083  I'm not normally one to jump at reviewing a ch...      5
4084  Let's see...what is there NOT to like about Su...      5
4085  4-5 locations.. all 4.5 star average.. I think...      5

[4086 rows x 2 columns]

In [34]:
text = yelp.loc[0,'text']

In [35]:
print(text)

My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.

Do yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I've ever had.  I'm pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.

While EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I've ever had.

Anyway, I can't wait to go back!

In [36]:
words=word_tokenize(text)
words=[word.lower() for word in words]
lemmatized_words=[lemmatizer.lemmatize(word, pos = process_pos(pos)) for word,pos in nltk.pos_tag(words) 
                  if word not in stop_words and word not in punctuation]

' '.join(lemmatized_words)

"wife take birthday breakfast excellent weather perfect make sit outside overlook ground absolute pleasure waitress excellent food arrive quickly semi-busy saturday morning look like place fill pretty quickly early get good favor get bloody mary phenomenal simply best 've ever 'm pretty sure use ingredient garden blend fresh order amaze everything menu look excellent white truffle scramble egg vegetable skillet tasty delicious come 2 piece griddle bread amaze absolutely make meal complete best `` toast '' 've ever anyway ca n't wait go back"

In [37]:
def process_text(text):
    words=word_tokenize(text)
    words=[word.lower() for word in words]
    lemmatized_words=[lemmatizer.lemmatize(word, pos = process_pos(pos)) for word,pos in nltk.pos_tag(words) 
                  if word not in stop_words and word not in punctuation]
    
    return ' '.join(lemmatized_words)

In [38]:
yelp['processed_text']=yelp.text.apply(process_text)
yelp.head

<bound method NDFrame.head of                                                    text  stars  \
0     My wife took me here on my birthday for breakf...      5
1     I have no idea why some people give bad review...      5
2     Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
3     General Manager Scott Petello is a good egg!!!...      5
4     Drop what you're doing and drive here. After I...      5
...                                                 ...    ...
4081  Yes I do rock the hipster joints.  I dig this ...      5
4082  Only 4 stars? \n\n(A few notes: The folks that...      5
4083  I'm not normally one to jump at reviewing a ch...      5
4084  Let's see...what is there NOT to like about Su...      5
4085  4-5 locations.. all 4.5 star average.. I think...      5

                                         processed_text
0     wife take birthday breakfast excellent weather...
1     idea people give bad review place go show plea...
2     rosie dakota love chaparral dog park 's conven...
3     general manager scott petello good egg go deta...
4     drop 're drive eat go back next day food good ...
...                                                 ...
4081  yes rock hipster joint dig place little bit sc...
4082  4 star note folk rat place low must isolate in...
4083  'm normally one jump review chain restaurant e...
4084  let 's see ... like surprise stadium well 9.50...
4085  4-5 location .. 4.5 star average .. think ariz...

[4086 rows x 3 columns]>

In [39]:
X=yelp.processed_text
y=yelp.stars

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y)

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [42]:
pipe=Pipeline(steps=[
    ('vect',CountVectorizer (max_features=5000,ngram_range=(1,2))),
    ('clf',MultinomialNB())
])

In [43]:
pipe.fit(X_train,y_train)
y_test_pred=pipe.predict(X_test)
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_test_pred)

0.9305283757338552

In [44]:
confusion_matrix(y_test,y_test_pred)

array([[163,  22],
       [ 49, 788]], dtype=int64)

In [45]:
print(X_test[(y_test==5)&((y_test_pred==1))])

2443    regular indian place convert buffet lunch comp...
17      never deal discount tire phoenix texas service...
1257    meet friend dinner restaurant end october like...
290     auto repair place 've ever see 5 star solid to...
151     call guy evap cooler water pressure line offic...
1503    sell car buy carmax spawn original review almo...
1021    place great nanny bring dance outfit get strap...
1839    've couple time first time first friday expect...
2769    dentist great explain medical issue way unders...
161     must try mani pedi fan use drive scottsdale se...
2295    ok hesitate write review place like 's busy wa...
3238    dude claim `` steal souls living '' `` best ph...
2040    far favourite department store hand nothing pe...
879     place great call 8:30 make appointment afterno...
3658    take computer redseven recently friend call te...
540     've never location husband take car previously...
880     miss place much 's insanity ten high kentucky ...
1034    've pass prestige nail walmart 100 time never ...
3817    mail call full service ship store owner great-...
2757    terrible decision make euthanize 20 year old c...
3390    friend go first yasu hear great travel busines...
1489    love coach stylish trendy without spend obscen...
3204    okay talk coincidence .... day compli-chatting...
1564    house clean use pet-friendly product arrive ti...
3091    like trendy shit-music half dress plastic surg...
3434    weekend debauchery spend 18. somehow break two...
1416    's sweetest cut guy work one time total come 5...
1393    3 star give day server pat make fun experience...
2283    work next door love do excellent job slim fit ...
546     love haircut walk wait minute stylist cut exac...
1618    update review several week appear maybe manage...
788     middle dilemma need proof something fax right ...
2777    love place since open change menu little seem ...
1827    mexican place like need judge base consistency...
1030    great surprise stumble across bank open 7 day ...
3497    's emergency generally see asap use live deser...
3297    unsuccessfully attempt walk gel posh look `` s...
3358    people title company good get eager really goo...
2656    young son graduate take buzz boy food city com...
3537    5 0 '' require lot alteration essential good a...
2029    dude .. manga .... card table ..... heck place...
277     video paradise great n't financially comfortab...
893     start take car month ago someone business stop...
1629    make job ship package lot less miserable purch...
996     recently buy house issue speed interference ma...
3630    last time vig trick .. see glass door open bac...
2694    there gun check upon entry often forget az qui...
2015                'm sorry say close door good week ago
269     place really make terrible situation easy poss...
Name: processed_text, dtype: object

## How does the model choose between 1-star and 5- star reviews

In [46]:
words=pipe['vect'].get_feature_names()
pipe['clf'].classes_

array([1, 5], dtype=int64)

In [47]:
one_star_count=pipe['clf'].feature_count_[0]
five_star_count=pipe['clf'].feature_count_[1]

In [48]:
words_df=pd.DataFrame({'words':words,'1star':one_star_count,'5star':five_star_count}).set_index('words')
words_df

           1star  5star
words
00          24.0   36.0
000          2.0    6.0
10          72.0  142.0
10 min       6.0    1.0
10 minute   21.0   11.0
...          ...    ...
yum yum      0.0    9.0
yummy        2.0   96.0
zero        16.0    6.0
zinburger    0.0   11.0
zucchini     1.0    8.0

[5000 rows x 2 columns]

In [49]:
# add 1 to avoid diving by 0
words_df= words_df+1

In [50]:
#frequencies
words_df=words_df/words_df.sum()

In [51]:
#compute ratios
words_df['1-5']=words_df['1star']/words_df['5star']
words_df['5-1']=words_df['5star']/words_df['1star']
words_df.head()

              1star     5star        1-5       5-1
words
00         0.000538  0.000239   2.248219  0.444797
000        0.000065  0.000045   1.426013  0.701256
10         0.001570  0.000924   1.698584  0.588726
10 min     0.000151  0.000013  11.645772  0.085868
10 minute  0.000473  0.000078   6.100166  0.163930

In [52]:
words_df.sort_values(by='1-5',ascending=False).head(5)

                 1star     5star        1-5       5-1
words
never come    0.000237  0.000006  36.600998  0.027322
poor service  0.000237  0.000006  36.600998  0.027322
ugh           0.000215  0.000006  33.273634  0.030054
waste money   0.000215  0.000006  33.273634  0.030054
bad food      0.000215  0.000006  33.273634  0.030054

In [53]:
words_df.sort_values(by='5-1',ascending=False).head(5)

                 1star     5star       1-5        5-1
words
fantastic     0.000043  0.001325  0.032462  30.805171
one favorite  0.000022  0.000433  0.049662  20.136063
perfect       0.000086  0.001628  0.052815  18.933910
homemade      0.000022  0.000368  0.058375  17.130681
yum           0.000022  0.000342  0.062780  15.928528